body {
  background: url(https://gyazo.com/d71bd77fcef4dd0210c5cefcd3515702.png);
  background-repeat: x-repeat;
  background-size: contain;
}

h1 {
  color: blue;
  font-family: comic sans ms;
}

hr {
  height: 50px;
  background: hotpink;
  color: hotpink;
}